*{
  font-family: "Roboto", sans-serif;
}

header {
    background-color: #AC652D;
    color: white;
    padding: 10px 0;
    position: fixed;  /* Fixa o header no topo da página */
    top: 0;           /* Coloca no topo da tela */
    left: 0;
    width: 100%;      /* Ocupa toda a largura da tela */
    z-index: 1000;    /* Garante que o header fique por cima de outros elementos */
}


header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;  /* Remove margens */
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}


/* Estilo do formulário */
#login {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px; /* Largura máxima do formulário */
  box-sizing: border-box;
}

/* Estilo para os títulos do formulário */
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Literata', serif;
  font-weight: 700;
}

/* Centralização dos containers de input */
.input-container {
  margin-bottom: 20px;
}

.input-container label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}

.input-container input {
  width: 100%;  /* Faz os inputs ocuparem 100% da largura */
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container input:focus {
  outline: none;
  border-color: #ff4081;
}


/* Estilo do botão */
.btn-submit {
    background-color: #AC652D;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #AC652D;
}


footer {
    background-color: #AC652D;
    color: white;
    padding: 10px 0;
    position: fixed;  /* Fixa o footer na parte inferior */
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
}


a {
  text-decoration: none; /* Remove o sublinhado */
  color: inherit;        /* Herda a cor do texto ao redor (o mesmo que o texto normal) */
}

a:hover {
  text-decoration: underline; /* Opcional: Adiciona o sublinhado ao passar o mouse */
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center;     /* Centraliza verticalmente */
  height: 100vh;
  background-color: #E3BD84;
}

.container {
  width: 100%;
  max-width: 350px; /* Largura máxima do container (ajustável conforme necessidade) */
  margin: 0 auto;
}

/* Estilo do Carrossel */
.polaroid-carousel {
  position: relative;
  width: 100%;
  max-width: 350px;  /* Ajuste a largura para um tamanho bom para dispositivos móveis */
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-item {
  flex: 0 0 100%; /* Cada item ocupa 100% da largura do carrossel */
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinha o conteúdo ao topo */
  height: 500px; /* Altura maior para permitir mais espaço para descrições */
}

/* Estilo Polaroid */
.polaroid {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;  /* Largura fixa para garantir a consistência entre os itens */
  height: 100%;   /* Altura do polaroid será igual à altura do item do carrossel */
  box-sizing: border-box;
  display: flex;
  flex-direction: column; /* Organiza o conteúdo de forma vertical (imagem + texto) */
  justify-content: space-between; /* Garante que o conteúdo ocupe todo o espaço disponível */
}

.polaroid img {
  width: 100%;
  height: 350px; /* Altura fixa para as imagens */
  object-fit: cover; /* Ajusta as imagens para cobrir completamente o espaço sem distorção */
  border-radius: 8px;
}

.caption {
  margin-top: 10px; /* Espaçamento entre a imagem e o texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.description {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.date {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

/* Esconde os inputs de tipo rádio */
input[type="radio"] {
  display: none;
}

/* Quando o radio button é selecionado, faz a transição */
#slide1:checked ~ .carousel-container {
  transform: translateX(0%);
}

#slide2:checked ~ .carousel-container {
  transform: translateX(-100%);
}

#slide3:checked ~ .carousel-container {
  transform: translateX(-200%);
}

/* Estilos dos Indicadores de navegação */
.carousel-indicators {
  position: absolute;
  bottom: 20px; /* Aumenta o espaçamento entre os indicadores e o carrossel */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  justify-content: center; /* Centraliza os indicadores horizontalmente */
  align-items: center; /* Alinha os indicadores verticalmente */

}

.carousel-indicators label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-indicators label:hover {
  background-color:#AC652D; /* Altera a cor quando o indicador é hover */
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    max-width: 100%;  /* Ajusta a largura para 90% da tela em dispositivos móveis */
  }

  .polaroid p {
    font-size: 14px; /* Ajusta o tamanho da fonte nas telas menores */
  }

  header {
    font-size: 1.5rem;
  }

  #login {
    padding: 30px;
  }

  .input-container input, .btn-submit {
    font-size: 14px;
  }
}
